<div ng-controller="FruitController as vm">
	<h1>Fruit Page</h1>
	
	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal">
		<i class="glyphicon glyphicon-plus"></i>
		Add a Fruit
	</button>
	
	<!-- Smart Table -->
	<table st-table="displayedFruitList" st-safe-src="vm.fruitList" class="table table-hover table-striped">
		<thead>
			<tr>
				<th st-sort="id" st-sort-default="true">ID</th>
				<th st-sort="name">Name</th>
				<th st-sort="create_date">Created Date</th>
				<th st-sort="update_date">Modified Date</th>
				<th></th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="name" class="form-control" placeholder="search for name ..." type="text"/></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="fruit in displayedFruitList">
				<td style="width:5%">
					{{fruit.id}}
				</td>
				<td ng-switch="vm.isEditing(fruit)" style="width:20%">
					<span ng-switch-default>{{fruit.name}}</span>
					<span ng-switch-when="true">
						<input type="text" ng-model="fruit.name" />
					</span>
				</td>
				<td style="width:20%">
					{{fruit.create_date | date:'MM-dd-yyyy hh:mm:ss a'}}
				</td>
				<td style="width:20%">
					{{fruit.update_date | date:'MM-dd-yyyy h:mm:ss a'}}
				</td>
				<td style="width:18%">
					<button type="button" class="btn btn-default btn-sm" ng-if="!vm.isEditing(fruit)" ng-click="vm.setEditing(fruit)">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button type="submit" class="btn btn-danger btn-sm" ng-if="!vm.isEditing(fruit)" ng-click="vm.deleteFruit(fruit)">
						<span class="glyphicon glyphicon-trash">
					</button>

		            <button class="btn btn-primary btn-sm" ng-click="vm.saveEdit(fruit)" ng-if="vm.isEditing(fruit)">
		            	<span class="glyphicon glyphicon-ok"></span>
		            </button>
		            <button class="btn btn-default btn-sm" ng-click="vm.cancelEdit(fruit)" ng-if="vm.isEditing(fruit)">
		            	<span class="glyphicon glyphicon-remove"></span>
		            </button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div id="pager" st-template="/src/app/widgets/stPager.html" st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
				</td>
			</tr>
		</tfoot>
	</table>

	<!-- modal for insert -->
	<div  class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
		<div class="modal-dialog" role="document" style="width:300px;">
		    <div class="modal-content">
				<form ng-submit="vm.createFruit(newFruit)">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="createModalLabel">Create a New Fruit</h4>
					</div>
					<div class="modal-body">
						<div style="width:30px;"><strong>Name</strong></div>
						<input type="text" ng-model="newFruit.name"/>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button type="submit" class="btn btn-success btn-sm">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</div>
				</form>
		    </div>
		</div>
	</div>

</div>
